In [6]:
import pandas as pd
import matplotlib.pyplot as plt  ## for plotting graph
import numpy as np   ## for numerical operation
import seaborn as sns ## for enhanced visualizations

In [7]:
df1 = pd.read_csv('C:/Users/Dell_21/Desktop/CDU_Sem2/foundation_data/HIT140_Foundations_of_data_Assig2/dataset1.csv', header= 0)
df2 = pd.read_csv('C:/Users/Dell_21/Desktop/CDU_Sem2/foundation_data/HIT140_Foundations_of_data_Assig2/dataset2.csv', header= 0)
df1.shape, df2.shape

((907, 12), (2123, 7))

In [ ]:
### Data Exploration Step for dat set 1
###############################
## check for missing Value,
##  Garbage/Invalid data 
## Distribution, Correlations, onte outlines

print("\n Dataset Inofromattion")
df1.info()   ## show data type and missing vlaue

print("\n Statistiacal Summary ")
print(df1.describe())  ## provides Summary stats

print("\nMissing Values:")
print(df1.isnull().sum())

 Dataset Inofromattion
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   start_time                 907 non-null    object
 1   bat_landing_to_food        907 non-null    float64
 2   habit                      866 non-null    object
 3   rat_period_start           907 non-null    object
 4   rat_period_end             907 non-null    object
 5   seconds_after_rat_arrival  907 non-null    int64
 6   risk                       907 non-null    int64
 7   reward                     907 non-null    int64
 8   month                      907 non-null    int64
 9   sunset_time                907 non-null    object
 10  hours_after_sunset         907 non-null    float64
 11  season                     907 non-null    int64
dtypes: float64(2), int64(5), object(5)
memory usage: 85.2+ KB

 Statistiacal Summary
       bat_landing_to_food  seconds_after_rat_arrival        risk      reward  \
count           907.000000                 907.000000  907.000000  907.000000
mean             11.713134                 282.877619    0.495039    0.533627
std              27.644410                 240.974918    0.500251    0.499143
min               0.010238                   0.000000    0.000000    0.000000
25%               1.000000                  89.500000    0.000000    0.000000
50%               4.000000                 206.000000    0.000000    1.000000
75%              11.500000                 446.500000    1.000000    1.000000
max             443.000000                 949.000000    1.000000    1.000000

            month  hours_after_sunset      season
count  907.000000          907.000000  907.000000
mean     3.800441            5.531863    0.833517
std      1.199190            2.414146    0.372719
min      0.000000           -0.261667    0.000000
25%      4.000000            3.779028    1.000000
50%      4.000000            5.622778    1.000000
75%      5.000000            7.402778    1.000000
max      5.000000           12.091944    1.000000

Missing Values:
start_time                    0
bat_landing_to_food           0
habit                        41
rat_period_start              0
rat_period_end                0
seconds_after_rat_arrival     0
risk                          0
reward                        0
month                         0
sunset_time                   0
hours_after_sunset            0
season                        0
dtype: int64

In [11]:
### Data Exploration Step for dat set 2
###############################
## check for missing Value,
##  Garbage/Invalid data 
## Distribution, Correlations, onte outlines

print("\n Dataset Inofromattion")
df2.info()   ## show data type and missing vlaue

print("\n Statistiacal Summary ")
print(df2.describe())  ## provides Summary stats

print("\nMissing Values:")
print(df2.isnull().sum())

 Dataset Inofromattion
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2123 entries, 0 to 2122
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   time                2123 non-null   object
 1   month               2123 non-null   int64
 2   hours_after_sunset  2123 non-null   float64
 3   bat_landing_number  2123 non-null   int64
 4   food_availability   2123 non-null   float64
 5   rat_minutes         2123 non-null   float64
 6   rat_arrival_number  2123 non-null   int64
dtypes: float64(3), int64(3), object(1)
memory usage: 116.2+ KB

 Statistiacal Summary
             month  hours_after_sunset  bat_landing_number  food_availability  \
count  2123.000000         2123.000000         2123.000000        2123.000000
mean      3.083844            5.265426           32.083373           2.445874
std       1.642261            4.076188           25.614431           1.218353
min       0.000000           -2.000000            0.000000           0.000000
25%       2.000000            2.000000           11.000000           1.962206
50%       4.000000            5.000000           27.000000           2.951877
75%       4.000000            8.500000           48.000000           3.105873
max       6.000000           13.500000          178.000000           4.000000

       rat_minutes  rat_arrival_number
count  2123.000000         2123.000000
mean      1.994442            0.444654
std       6.793397            1.019195
min       0.000000            0.000000
25%       0.000000            0.000000
50%       0.000000            0.000000
75%       0.158333            1.000000
max     120.000000           17.000000

Missing Values:
time                  0
month                 0
hours_after_sunset    0
bat_landing_number    0
food_availability     0
rat_minutes           0
rat_arrival_number    0
dtype: int64

In [12]:
## checking for any messing  value data set 1
print(df1.isna().sum())

start_time                    0
bat_landing_to_food           0
habit                        41
rat_period_start              0
rat_period_end                0
seconds_after_rat_arrival     0
risk                          0
reward                        0
month                         0
sunset_time                   0
hours_after_sunset            0
season                        0
dtype: int64

In [13]:
## checking for any messing  value data set 1
print(df2.isna().sum())

time                  0
month                 0
hours_after_sunset    0
bat_landing_number    0
food_availability     0
rat_minutes           0
rat_arrival_number    0
dtype: int64