In [ ]:
#import pandas to play with the dataframe
import pandas as pd
import numpy as np

In [ ]:
#laod the csv files 
df1 = pd.read_csv('dataset1.csv', header= 0)
df2 = pd.read_csv('dataset2.csv', header= 0)

#printing it's shape, top 5 rows, and info
print(df1.shape, df2.shape)
print(df1.head(), df2.head())
print(df1.info(), df2.info())

#check the missing value
print("Missing values per column:")
print(df1.isna().sum())
print(df2.isna().sum())

#checks the duplicate values
print("Duplicate rows in df1:", df1.duplicated().sum())
print("Duplicate rows in df2:", df2.duplicated().sum())

#summary of the data
print("Summary statistics for df1:")
print(df1.describe())

print("Summary statistics for df2:")
print(df2.describe())

(907, 12) (2123, 7)
         start_time  bat_landing_to_food habit  rat_period_start  \
0  30/12/2017 18:37            16.000000   rat  30/12/2017 18:35
1  30/12/2017 19:51             0.074016  fast  30/12/2017 19:50
2  30/12/2017 19:51             4.000000  fast  30/12/2017 19:50
3  30/12/2017 19:52            10.000000   rat  30/12/2017 19:50
4  30/12/2017 19:54            15.000000   rat  30/12/2017 19:50

     rat_period_end  seconds_after_rat_arrival  risk  reward  month  \
0  30/12/2017 18:38                        108     1       0      0
1  30/12/2017 19:55                         17     0       1      0
2  30/12/2017 19:55                         41     0       1      0
3  30/12/2017 19:55                        111     1       0      0
4  30/12/2017 19:55                        194     1       0      0

        sunset_time  hours_after_sunset  season
0  30/12/2017 16:45            1.870833       0
1  30/12/2017 16:45            3.100833       0
2  30/12/2017 16:45            3.107500       0
3  30/12/2017 16:45            3.126944       0
4  30/12/2017 16:45            3.150000       0                  time  month  hours_after_sunset  bat_landing_number  \
0  26/12/2017 16:13      0                -0.5                  20
1  26/12/2017 16:43      0                 0.0                  28
2  26/12/2017 17:13      0                 0.5                  25
3  26/12/2017 17:43      0                 1.0                  71
4  26/12/2017 18:13      0                 1.5                  44

   food_availability  rat_minutes  rat_arrival_number
0           4.000000          0.0                   0
1           4.000000          0.0                   0
2           4.000000          0.0                   0
3           4.000000          0.0                   0
4           3.753857          0.0                   0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   start_time                 907 non-null    object
 1   bat_landing_to_food        907 non-null    float64
 2   habit                      866 non-null    object
 3   rat_period_start           907 non-null    object
 4   rat_period_end             907 non-null    object
 5   seconds_after_rat_arrival  907 non-null    int64
 6   risk                       907 non-null    int64
 7   reward                     907 non-null    int64
 8   month                      907 non-null    int64
 9   sunset_time                907 non-null    object
 10  hours_after_sunset         907 non-null    float64
 11  season                     907 non-null    int64
dtypes: float64(2), int64(5), object(5)
memory usage: 85.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2123 entries, 0 to 2122
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   time                2123 non-null   object
 1   month               2123 non-null   int64
 2   hours_after_sunset  2123 non-null   float64
 3   bat_landing_number  2123 non-null   int64
 4   food_availability   2123 non-null   float64
 5   rat_minutes         2123 non-null   float64
 6   rat_arrival_number  2123 non-null   int64
dtypes: float64(3), int64(3), object(1)
memory usage: 116.2+ KB
None None
Missing values per column:
start_time                    0
bat_landing_to_food           0
habit                        41
rat_period_start              0
rat_period_end                0
seconds_after_rat_arrival     0
risk                          0
reward                        0
month                         0
sunset_time                   0
hours_after_sunset            0
season                        0
dtype: int64
time                  0
month                 0
hours_after_sunset    0
bat_landing_number    0
food_availability     0
rat_minutes           0
rat_arrival_number    0
dtype: int64
Duplicate rows in df1: 1
Duplicate rows in df2: 0
Summary statistics for df1:
       bat_landing_to_food  seconds_after_rat_arrival        risk      reward  \
count           907.000000                 907.000000  907.000000  907.000000
mean             11.713134                 282.877619    0.495039    0.533627
std              27.644410                 240.974918    0.500251    0.499143
min               0.010238                   0.000000    0.000000    0.000000
25%               1.000000                  89.500000    0.000000    0.000000
50%               4.000000                 206.000000    0.000000    1.000000
75%              11.500000                 446.500000    1.000000    1.000000
max             443.000000                 949.000000    1.000000    1.000000

            month  hours_after_sunset      season
count  907.000000          907.000000  907.000000
mean     3.800441            5.531863    0.833517
std      1.199190            2.414146    0.372719
min      0.000000           -0.261667    0.000000
25%      4.000000            3.779028    1.000000
50%      4.000000            5.622778    1.000000
75%      5.000000            7.402778    1.000000
max      5.000000           12.091944    1.000000
Summary statistics for df2:
             month  hours_after_sunset  bat_landing_number  food_availability  \
count  2123.000000         2123.000000         2123.000000        2123.000000
mean      3.083844            5.265426           32.083373           2.445874
std       1.642261            4.076188           25.614431           1.218353
min       0.000000           -2.000000            0.000000           0.000000
25%       2.000000            2.000000           11.000000           1.962206
50%       4.000000            5.000000           27.000000           2.951877
75%       4.000000            8.500000           48.000000           3.105873
max       6.000000           13.500000          178.000000           4.000000

       rat_minutes  rat_arrival_number
count  2123.000000         2123.000000
mean      1.994442            0.444654
std       6.793397            1.019195
min       0.000000            0.000000
25%       0.000000            0.000000
50%       0.000000            0.000000
75%       0.158333            1.000000
max     120.000000           17.000000

In [16]:

#Parse time & sort
df1["event_time"] = pd.to_datetime(df1["start_time"], dayfirst=True, errors="coerce")
df2["window_time"] = pd.to_datetime(df2["time"], dayfirst=True, errors="coerce")
df1 = df1.sort_values("event_time").reset_index(drop=True)
df2 = df2.sort_values("window_time").reset_index(drop=True)

#Time-aware join (as-of within 30 min backward)
merged = pd.merge_asof(
    df1, df2,
    left_on="event_time", right_on="window_time",
    direction="backward", tolerance=pd.Timedelta("30min")
)

#Feature engineering
rat_minutes_median = merged["rat_minutes"].median(skipna=True)
merged["rat_pressure"] = np.where(merged["rat_minutes"] >= rat_minutes_median, "High", "Low")
merged["recent_rat"] = (merged["seconds_after_rat_arrival"] <= 60).astype(int)

#Handle missing values
#Primary frame: listwise deletion
listwise = merged.dropna(subset=["bat_landing_to_food", "risk", "rat_pressure"]).copy()

#Secondary frame: mean substitution
mean_sub = merged.copy()
for col in ["bat_landing_to_food", "risk"]:
    if col in mean_sub.columns:
        mean_val = mean_sub[col].mean(skipna=True)
        mean_sub[col] = mean_sub[col].fillna(mean_val)


print("Median rat_minutes (for High/Low split):", rat_minutes_median)
print("Shapes -> merged:", merged.shape, "listwise:", listwise.shape, "mean_sub:", mean_sub.shape)

# Quick preview
print(listwise[["event_time","window_time","bat_landing_to_food","risk","rat_minutes","rat_pressure","recent_rat"]].head())

Median rat_minutes (for High/Low split): 7.783333333
Shapes -> merged: (907, 23) listwise: (907, 23) mean_sub: (907, 23)
           event_time         window_time  bat_landing_to_food  risk  \
0 2017-12-26 20:57:00 2017-12-26 20:43:00                  1.0     0
1 2017-12-26 20:57:00 2017-12-26 20:43:00                  5.0     0
2 2017-12-26 21:24:00 2017-12-26 21:13:00                  3.0     0
3 2017-12-26 21:24:00 2017-12-26 21:13:00                 15.0     1
4 2017-12-26 21:24:00 2017-12-26 21:13:00                  6.0     0

   rat_minutes rat_pressure  recent_rat
0     1.283333          Low           0
1     1.283333          Low           0
2     4.866667          Low           0
3     4.866667          Low           0
4     4.866667          Low           0